<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.falconnect.zipcode">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.androidtutorialpoint.mymapsappsdirection.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_client"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDr8TlW6qpxYoDTO4sTDFMAspOlMv3Re6A" />

        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <!--Multi Window-->
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />

        <meta-data
            tools:replace="android:value"
            android:name="android.support.VERSION"
            android:value="25.3.1" />

        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:value="632.0dip" />

        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:value="598.0dip" />

        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="ZipCode"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".FirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfileNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BilleteraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Delivery_Page"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HistrorialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RankingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TerminosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Centero_de_ayuda_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrationPaso"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrationActivityPasotwo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrationPasoThree"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrationPasoFour"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrarionFivePaso"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MapsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ComprobanteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RutaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfileNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangeEmailidActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerTODOS"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Finalizar_Activity_three"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Negative_comments"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".History_DetailPage"
            android:screenOrientation="portrait" />

        <service android:name=".MyService" />

        <service android:name=".SessionSaved"/>

        <activity
            android:name=".InternetConnectivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Crop.CropImageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Crop.MonitoredActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>
